@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body{
    min-height: 100vh;
    background-color: #DDF7FF;
}

span{
    color: #007FFF;;
}

html{
    scroll-behavior: smooth;
}

#btn-contato button{
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #007FFF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

#btn-download button{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    color: #000;
}

#btn-download button i{
    font-size: 1.5rem;
}

#btn-repositorio button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #007FFF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
    width: 100%;
}

#btn-repositorio button i{
    font-size: 1.5rem;
}

#node{
    color: #60B248;
}

#js{
    color: #F7DF1E;
}

#html{
    color: #F1662A;
}

#css{
    color: #008DCA;
}

#us{
    color: #1E50A0;
}

#java{
    color: #EA2D2E;
}