body{
    background: #fff;
    height: 100vh;
}

span{
    color: #005BE3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.titulo{
    font-size: 56px;
    text-align: center;
}

/* HEADER */

header{
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: .3s;
}

header.rolagem {
    background-color: #fff;
    padding: 30px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo:hover{
    transform: scale(1.05);
}

header .logo{
    transition: 0.2s;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s ease;
}

header nav.menu-desktop a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

.menu-mobile{
    display: none;
}

.overlay-menu{
    display: none;
}

.btn-abrir-menu{
    display: none;
}

/* MAIN */

main{
    color: #000;
}

section.topo-do-site{
    padding: 264px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    font-size: 42px;
    line-height: 50px;
}

.topo-do-site .txt-topo-site p{
    margin: 20px 0;
    font-weight: 500;
}

.topo-do-site .img-topo-site{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}

/* SKILLS */

.container{
    width: 100%;
    padding: 40px 8%;
}

.skills .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.container .skill{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.3s, background 0.3s;
}

.container .skill i{
    font-size: 45px;
    margin-bottom: 10px;
    color: #005BE3;
}

.container .skill h2{
    margin-bottom: 8px;
}

.container .skill:hover{
    background: #005BE3;
    color: #fff;
    transform: scale(1.02);
}

.container .skill:hover i{
    color: #fff;
}

/* PROJETOS */
#projects {
	padding: 40px 4%;
}

.section-heading{
    font-size: 42px;
    text-align: center;
}

#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}

#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}

#projects .item .left {
	flex: 1;
}

#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: #fff;
	padding: 2rem 1.5rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}

#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}

#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}

#projects .item .left .img {
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}

#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}

#projects .item:hover .left .img img {
	transform: scale(1.01);
	z-index: 1;
}

#projects .item .right .project-title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

#projects .item .right .project-sub-title {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

#projects .item .right .project-desc {
	color: #000;
	margin-bottom: 2rem;
}

#projects .btn-contato button{
    font-size: 15px;
}

/* SOBRE */
section.about{
    padding: 40px 4%;
}

section.about img{
    height: auto;
    width: 450px;
    border-radius: 12px;
}

section.about .about-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

section.about .about-txt h1{
    font-size: 34px;
}

section.about .about-txt h4{
    font-size: 18px;
}

section.about .flex{
    gap: 16px;
}

/* FORMULARIO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #005BE3;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 6px;
}

form .btn-enviar input:hover{
    background-color: #0049b6;
}

/* FOOTER */

footer{
    padding: 10px 4%;
    background-color: #246fe0;
    display: flex;
    justify-content: space-between;
}

footer .line-footer p i{
    color: white;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

footer .logo-footer:hover{
    transform: scale(1.05);
}

footer .logo-footer{
    transition: 0.2s;
    padding: 15px;
}

@media screen and (max-width:1020px) {

    /* GERAL */
    .flex{
        flex-direction: column;
    }

    .titulo{
        font-size: 36px;
    }

    /* HEADER */
    .menu-desktop {
        display: none;
    }
    #header .interface .btn-contato{
        display: none;
    }

    /* MENU MOBILE */

    .btn-abrir-menu{
        display: block;
    }

    .btn-abrir-menu img{
        font-size: 40px;
    }

    .menu-mobile{
        display: block;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        background-color: #000;
        width: 0%;
        overflow: hidden;
        transition: .5s;
    }

    .menu-mobile.abrir-menu{
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }


    .menu-mobile nav ul{ 
        text-align: right;
        list-style-type: none;
    }

    .menu-mobile nav ul li a{
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
    }

    .menu-mobile .btn-fechar{
        padding: 20px 5%;
    }

    .menu-mobile .btn-fechar{
        color: #000;
        font-size: 30px;
    }

    .overlay-menu{
        background-color: #000000ab;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8888;
    }

    /* MAIN */

    section.topo-do-site{
        padding: 170px 4%;
    }

    .img-topo-site img{
        width: 95%;
    }

    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 90px;
    }

    .topo-do-site h1{
        font-size: 32px;
        line-height: 40px;
    }

    .topo-do-site p{
        font-size: 16px;
    }

    .topo-do-site .txt-topo-site p{
        margin: 20px 0;
    }

    /* CONTAINER */
    .skills h1{
        font-size: 32px;
        position: relative;
    }

    /* PROJETOS */
    #projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
    /* SOBRE */

    section.about .about-img img{
        align-items: center;
    }

    /* FOOTER */
    footer .btn-social button{
        border: none;
        background-color: #246fe0;
        width: 30px;
        height: 30px;
        border-radius: 40px;
        font-size: 38px;
        margin: 15px;
        cursor: pointer;
        color: #fff;
        transition: .3s ease;
    }

}

@media screen and (max-width:520px){
    /* SOBRE */

    section.about img{
        width: 300px;
    }

    section.about .about-txt{
        width: 320px;
    }
}
